<% provide(:title, 'Hobbies') %>

<div class="header-secondary row"><!-- Begin Header -->
  
  <div class="">
    
    <!-- Main Navigation
	 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div class="span6 pull-right">
      
      <ul class="nav nav-pills">
	<li><%= link_to "Astronomy", '#' %></li>
	<li><%= link_to "Cycling", '#' %></li>
	<li><%= link_to "Photography", '#'  %></li>
      </ul>
      
    </div> 
  </div><!-- End Main Navigation -->
  
</div><!-- End Header -->


<div class="main-section" data-spy="scroll" data-target=".nav-pills">

  <div id="
