<% provide(:title, 'Home') %>


<div class="row">

  <div class="span6">
    <%= link_to "/albums#nanogallery/gallery/72157633250533607/8652039243" do %>
    <%= image_tag "sunset_me.jpg", class: "img-rounded img-home" %>
    <% end %>
  </div>
  <div class="span6">
    <div class="page-header">
      <h1>Hello there. I'm <span class="emph">Isaque</span>.<br/> <small>I am a college junior studying Computer Science and Physics at MIT. I am originally from a small village in Minas Gerais, Brasil. Five years ago I left behind my homeland in order to pursue my studies.  <br/> During my spare time, I am an avid Archlinux user, developer, amateur astronomer and cheese maker. I update this website when I can; feel free to explore it.</small></h1>
    </div>
  </div>
</div>
