<% provide(:title, 'Projects') %>

<div class="row">
  <div class="span12">
    <h1>Projects#all</h1>
  </div>
</div>

<div class="row">
  <div class="span12">

    <div class="row project img-rounded">
      <div class="span2">
	<%= image_tag "cpu.jpg", class: "img-rounded" %>
      </div>
      <div class="span10">
        <h3>Multi Core Processor</h3>
        <p class="description">
	  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas aliquam justo felis, vel suscipit erat venenatis non. Vestibulum ornare rhoncus nunc quis scelerisque. Phasellus sapien orci, luctus sit amet eleifend sit amet, cursus at lectus. Curabitur non purus sodales, semper neque non, rutrum elit. Aenean commodo neque non nulla porta, eget tristique massa tempor.
	</p>
      </div>
    </div>

    <div class="row project img-rounded">
      <div class="span2">
	<%= image_tag "altera.jpg", class: "img-rounded" %>
      </div>
      <div class="span10">
        <h3>AltSourceProbe</h3>
        <p class="description">Nulla non metus imperdiet, aliquam massa in, sagittis augue. In eu lobortis nisl. Aliquam ac semper magna, non convallis orci. Suspendisse vitae semper nisl, in fermentum nisi. Suspendisse rutrum ante vitae arcu tincidunt porttitor. Suspendisse potenti. Sed et ante nulla. Nulla quam nisl, imperdiet vel feugiat vitae, fermentum sit amet metus. Sed ornare scelerisque turpis vel faucibus.</p>
      </div>
    </div>

  </div>
</div>
