<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    Hello <b>Isaque</b>!
    <br><br>
    
    Good news! Someone has just sent an contact email through the website.
    <br><br>
    <b>Name:</b> <%= @name %>
    <br>
    <b>Email:</b> <%= @email %>
    <br>
    <b>IP Address:</b> <%= @client_ip %>
    <br>
    <b>Message</b>
    <br>
    =========================<br>
    <%= @message %><br>
    =========================<br>

    <br><br>
    Reply ASAP!
  </body>
</html>
